:root {
  --primary-color: #8B5E3B; /* Un marrón cálido, inspirado en la tierra */
  --secondary-color: #D9B382; /* Un tono arena suave */
  --background-color: #FAF3E0; /* Beige claro para armonía */
  --text-color: #3E2723; /* Marrón oscuro para contraste */
  --accent-color: #A47E58; /* Un tono intermedio para detalles */
}

body {
  font-family: "Merriweather", serif; /* Fuente elegante y legible */
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

section {
  padding: 3rem;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
}

h2 {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bajada {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto;
  text-align: left;
  padding-right: 50vw;
}

.animatedText {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 10vw;
}

.ctabuttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 500px;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 1 0 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 45, 66, 0.6);
  padding: 2rem;
  text-align: center;
  color: white;
  max-width: 80%;
  border-radius: 1rem;
}

.navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.navigation label {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.navigation span.active {
  background: white;
  border: 2px solid var(--primary-color);
}


input#slide1:checked ~ .slides {
  transform: translateX(0%);
}
input#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
input#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
input#slide4:checked ~ .slides {
  transform: translateX(-300%);
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"],
input#slide4:checked ~ .navigation label[for="slide4"] {
  background: white;
}

